.wrap {
    padding-left: 30px;
    width: 80%;
}

.item {
    display: flex;
    justify-content: space-between;
    color: #333;
    padding: 0;
}

.done {
    color: #c4c4c4;
    text-decoration: line-through;
}